<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="PYTHONPATH" value="E:\production\ecom\ecommerce" />
    <add key="WSGI_HANDLER" value="nitincom.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="nitincom.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\production\ecom\venv\Scripts\python.exe|E:\production\ecom\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>